
*{
    margin: 0;
    padding: 0;
}
#main{
    /* border:2px solid blue; */
    height:96vh;
    width: 96vw;
    background-image: url(./photos_videos/bmw.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
#firstline{
    /* border: 2px solid red; */
    height: 100px;
    width: 1160;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-bottom: 2px solid white;
    margin: 30px;
    margin-right: 50px;
    
}



#icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px
}
.fl:hover{
    border-bottom: 2px solid white;
    
}
#sl{
    height: 70px;
    width: 96vw;
    color: white;
    position: absolute;
    top: 150px;
    margin-left: 90px;
    font-size: 20px;
    gap: 10px;
    
    
}
#fourthline{
    height: 50px;
    width: 96vw;
    position: absolute;
    top: 300px;
    margin-left: 90px;
    color: white;
}
#fifthline{
    height: 70px;
    width: 96vw;
    position: absolute;
    top: 320px;
    margin-left: 90px;
    color: white;
    font-size: 70px;
}
#sixthline{
    height: 70px;
    width: 96vw;
    position: absolute;
    top: 400px;
    margin-left: 90px;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#button1{
    background-color: rgb(50, 96, 181);
    border: 2px solid black;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 90px;
    top: 450px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
a{
    color: white;
    font-size: 20px;
}
button{
    background-color: blue;
    size: 100px;
}
#secondpart{
    /* border: 2px solid blue; */
    height: 96vh;
    width: 96vw;
    background-image: url(./photos_videos/secbmw.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 2px solid blue;
}
#sp{
    color: white;
    position: relative;
    top: 300px;
    font-size: 20px;
    margin-left: 120px;
}
#sp1{
    color: white;
    position: relative;
    top: 300PX;
    font-size:60PX ;
    margin-left: 120PX;
}
#sp2{
    color: white;
    position: relative;
    top: 300PX;
    font-size:30PX ;
    margin-left: 120PX;
}
.button1{
    background-color: rgb(50, 96, 181);
    border: 2px solid black;
    width: 250px;
    height: 50px;
    position: relative;
    left: 125px;
    top: 310px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.button1:hover{
   background-color: rgb(10, 74, 179);
}
.button2{
    background-color: transparent;
    border: 2px solid white;
    width: 200px;
    height: 50px;
    position: relative;
    top: 258px;
    left: 500px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover{
    border: 3px solid white;
 }
 #thirdpart{
    /* border: 2px solid blue; */
    width: 96vw;
    height: 96vh;
    
 }
 /* .down{
    height: 420px;
    background-color:white;
    position: relative;
    top: 10px;
    left:5px
    
} */

.text1{
    position: absolute;
    left: 500px;
    top: 1200px;
    font-size: 30px;
}

.text2{
    position: absolute;
    left: 435px;
    top: 1280px;
    font-size: 40px;
}

.logo1{
    height: 150px;
    width: 200px;
    position:relative;
    top: 180px;
    left: 15px; 

}

.logo2{
    height: 150px;
    width: 200px;
    position: relative;
    top: 180px;
    left: 30px;

}

.logo3{
    height: 130px;
    width: 200px;
    position: relative;
    top: 180px;
    left: 40px;
    font-weight: bolder;


}
.imgg{
    display: flex;
    justify-content: space-evenly;
}

.textc1{
    position: absolute;
    left: 230px;
    top: 1480px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textc2{
    position: absolute;
    left: 590px;
    top: 1480px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textc3{
    position: absolute;
    left: 960px;
    top: 1480px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .b1{
    height: 40px;
    width: 150px;
    position: absolute;
    background-color: transparent;
    left: 210px;
    top: 1530px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
} 

 .b2{
    height: 40px;
    width: 150px;
    position: absolute;
    background-color: transparent;
    left: 580px;
    top: 1530px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
} 

 .b3{
    height: 40px;
    width: 150px;
    position: absolute;
    background-color: transparent;
    left: 950px;
    top: 1530px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
} 

 */
.b1{
    border: 1px solid black;
}
.b1:hover{
    border: 3px solid black;
}

.b2{
    border: 1px solid black;
}
.b2:hover{
    border: 3px solid black;
}

.b3{
    border: 1px solid black;
}
.b3:hover{
    border: 3px solid black;
}
